<aside id="sidebar_left" class="nano nano-light affix"
       xmlns:th="http://www.w3.org/1999/xhtml">

    <!--Navbar Branding-->
    <div class="navbar-branding">
        <a href="/" th:href="@{/}" class="navbar-brand">
            <span class="text-white">ФВСР</span>
        </a>
        <i class="fa fa-bars" id="toggle_sidemenu_l" aria-hidden="true"></i>
    </div>

    <!-- Start: Sidebar Left Content-->
    <div class="sidebar-left-content nano-content">
        <!-- Start: Sidebar Header-->
        <header class="sidebar-header">

            <!-- Sidebar Widget - Author-->
            <div class="sidebar-widget author-widget">
                <div class="media">
                    <a href="/" th:href="@{/}" class="media-left">
                        <img th:src="@{/image/3.jpg}" class="img-responsive">
                    </a>
                    <div class="media-body">
                        <div class="media-links"></div>
                        <div class="media-author">Админ сайта</div>
                        <a href="#" class="mr10">
                            <i class="fa fa-user" aria-hidden="true"></i> Профиль
                        </a>
                        <a href="#">
                            <i class="fa fa-fw fa-sign-out"></i> Выйти
                        </a>
                    </div>
                </div>
            </div>

            <div class="sidebar-widget search-widget hidden">
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input id="sidebar-search" type="text" placeholder="Search..." class="form-control">
                </div>
            </div>

        </header>

        <!-- Start: Sidebar Menu-->
        <ul class="nav sidebar-menu">
            <li class="sidebar-label pt30">Меню</li>
            <li th:classappend="${#httpServletRequest.requestURI == '/' ? 'active' : ''}">
                <a href="/" th:href="@{/}">
                    <span class="fa fa-home" aria-hidden="true"></span>
                    <span class="sidebar-title">Личный кабинет</span>
                </a>
            </li>
            <li th:classappend="${#httpServletRequest.requestURI == '/dictionaries' ? 'active' : ''}">
                <a href="#" th:href="@{/dictionaries}">
                    <span class="fa fa-book" aria-hidden="true"></span>
                    <span class="sidebar-title">Справочники</span>
                </a>
            </li>
            <li th:classappend="${#httpServletRequest.requestURI == '/people' ? 'active' : ''}">
                <a href="#" th:href="@{/people}">
                    <span class="fa fa-users" aria-hidden="true"></span>
                    <span class="sidebar-title">Люди</span>
                </a>
            </li>
            <li th:classappend="${#httpServletRequest.requestURI == '/competitions' ? 'active' : ''}">
                <a href="#" th:href="@{/competitions}">
                    <span class="fa fa-futbol-o" aria-hidden="true"></span>
                    <span class="sidebar-title">Соревнования</span>
                </a>
            </li>
            <li th:classappend="${#httpServletRequest.requestURI == '/races' ? 'active' : ''}">
                <a href="#" th:href="@{/races}">
                    <span class="fa fa-bicycle" aria-hidden="true"></span>
                    <span class="sidebar-title">Список заездов</span>
                </a>
            </li>
            <li th:classappend="${#httpServletRequest.requestURI == '/results' ? 'active' : ''}">
                <a href="#" th:href="@{/results}">
                    <span class="fa fa-bicycle" aria-hidden="true"></span>
                    <span class="sidebar-title">Результаты</span>
                </a>
            </li>
        </ul>
    </div>

</aside>