<aside id="sidebar_left" class="nano nano-light affix">

    <!--Navbar Branding-->
    <div class="navbar-branding">
        <a href="dashboard.html" class="navbar-brand">
            <span class="text-white">flgr</span> results
        </a>
        <i class="fa fa-bars" id="toggle_sidemenu_l" aria-hidden="true"></i>
    </div>

    <!-- Start: Sidebar Left Content-->
    <div class="sidebar-left-content nano-content">
        <!-- Start: Sidebar Header-->
        <header class="sidebar-header">

            <!-- Sidebar Widget - Author-->
            <div class="sidebar-widget author-widget">
                <div class="media">
                    <a href="#" class="media-left">
                        <img th:src="@{image/3.jpg}" class="img-responsive">
                    </a>
                    <div class="media-body">
                        <div class="media-links"></div>
                        <div class="media-author">Админ сайта</div>
                        <a href="#" class="mr10">
                            <i class="fa fa-user" aria-hidden="true"></i> Профиль
                        </a>
                        <a href="pages_login(alt).html">
                            <i class="fa fa-fw fa-sign-out"></i> Выйти
                        </a>
                    </div>
                </div>
            </div>

            <div class="sidebar-widget search-widget hidden">
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input id="sidebar-search" type="text" placeholder="Search..." class="form-control">
                </div>
            </div>

        </header>

        <!-- Start: Sidebar Menu-->
        <ul class="nav sidebar-menu">
            <li class="sidebar-label pt30">Меню</li>
            <li class="active">
                <a href="/" th:href="@{/}">
                    <span class="fa fa-home" aria-hidden="true"></span>
                    <span class="sidebar-title">Личный кабинет</span>
                </a>
            </li>
            <li>
                <a href="pages/profile.html" th:href="@{pages/profile}">
                    <span class="fa fa-home" aria-hidden="true"></span>
                    <span class="sidebar-title">Профиль</span>
                </a>
            </li>
        </ul>
    </div>

</aside>