<div xmlns:th="http://www.thymeleaf.org">
    <a href="#" th:href="@{/competitions/create}" class="btn btn-info">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="sidebar-title">Добавить соревнование</span>
    </a>
    <div class="table-double">
        <div class="over-x-auto">
            <table class="table table-striped table__refact text-left">
                <thead>
                    <tr th:class="ws-no">
                        <th th:class="w50">№</th>
                        <th>Дата</th>
                        <th>Вид</th>
                        <th>Название</th>
                        <th>Место</th>
                        <th>Субъект</th>
                        <th>Страна</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="competition, status : ${competitions}">
                        <td th:text="${status.index + 1}" th:class="w50"></td>
                        <th>-</th>
                        <td th:text="${competition.vid?.name}"></td>
                        <td th:text="${competition.name}"></td>
                        <td th:text="${competition.place}"></td>
                        <td th:text="${competition.subject?.name}"></td>
                        <td th:text="${competition.country?.nameRus}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="interaction">
            <span class="interaction__title">Действие</span>
            <div class="interaction__group" th:each="competition : ${competitions}">
                <a href="#" class="btn btn-info mw40" title="Информация о соревновании"
                   th:href="@{/competitions/{id}(id=${competition.id})}">
                    <i class="fa fa-info" aria-hidden="true"></i>
                </a>

                <a href="#" class="btn btn-info mw40" title="Изменить"
                   th:href="@{/competitions/{id}/update(id=${competition.id})}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>