<div class="over-x-auto" xmlns:th="http://www.thymeleaf.org">
    <a href="#" th:href="@{/competitions/create}" class="btn btn-info">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="sidebar-title">Добавить соревнование</span>
    </a>
    <table class="table table-striped table__refact">
        <thead>
            <tr th:class="ws-no">
                <th th:class="w50">Id</th>
                <th>Название</th>
                <th>Субъект</th>
                <th>Место</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Страна</th>
                <th>Вид</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="competition : ${competitions}">
                <td th:text="${competition.id}" th:class="w50"></td>
                <td th:text="${competition.name}"></td>
                <td th:text="${competition.subject?.name}"></td>
                <td th:text="${competition.place}"></td>
                <td th:text="${competition.dateBegin}"></td>
                <td th:text="${competition.dateEnd}"></td>
                <td th:text="${competition.country?.name}"></td>
                <td th:text="${competition.vid?.name}"></td>
            </tr>
        </tbody>
    </table>
</div>