<div class="search__people" xmlns:th="http://www.thymeleaf.org" th:fragment="filter (filterForm)">
    <a href="#search__block" class="btn btn-info btn-toggle">
        <i class="fa fa-search" aria-hidden="true"></i> Поиск
    </a>
    <a href="#filter__block" class="btn btn-info btn-toggle">
        <i class="fa fa-filter" aria-hidden="true"></i> Фильтр
    </a>

    <div class="search__container">
        <form th:object="${filter}" method="get" class="form-horizontal" role="form">
            <div class="toggle__block" id="search__block">
                <h4>Поиск:</h4>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>Id</label>
                        <input class="form-control input-sm" type="text" name="id" th:field="*{id}">
                    </div>
                    <div class="col-sm-6">
                        <label>Старый Id</label>
                        <input class="form-control input-sm" type="text" name="old_id" th:field="*{oldId}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>Фамилия</label>
                        <input class="form-control input-sm" type="text" name="lastname" th:field="*{surname}">
                    </div>
                    <div class="col-sm-6">
                        <label>Имя</label>
                        <input class="form-control input-sm" type="text" name="firstname" th:field="*{firstname}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>Фамилия (rus)</label>
                        <input class="form-control input-sm" type="text" name="lastname_rus" th:field="*{surnameRus}">
                    </div>
                    <div class="col-sm-6">
                        <label>Имя (rus)</label>
                        <input class="form-control input-sm" type="text" name="firstname_rus" th:field="*{firstnameRus}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-search" aria-hidden="true"></i> Найти
                        </button>
                    </div>
                </div>
            </div>
            <div class="toggle__block" id="filter__block">
                <h4>Фильтр:</h4>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>Пол</label>
                        <select class="form-control input-sm"
                                name="gender" type="text" th:field="*{gender}">
                            <option value="true">Муж.</option>
                            <option value="false">Жен.</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>День рождение</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <input class="form-control input-sm"
                                       name="birthdate_from" type="date">
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control input-sm"
                                       name="birthdate_to" type="date">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label>Объект</label>
                        <select class="form-control input-sm"
                                name="subject_id" type="text" th:field="*{federalSubjectId}">
                            <option value="" selected>Объект не выбран</option>
                            <option th:each="subject : ${federalSubjects}" th:text="${subject.name}"
                                    th:value="${subject.id}"></option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Команда</label>
                        <select class="form-control input-sm"
                                name="teams_id" type="text" th:field="*{teamId}">
                            <option value="" selected>Команда не выбрана</option>
                            <option th:each="team : ${teams}" th:text="${team.name}"
                                    th:value="${team.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>Заголовок</label>
                        <select class="form-control input-sm"
                                name="titles_id" type="text" th:field="*{titleId}">
                            <option value="" selected>Заголовок не выбран</option>
                            <option th:each="title : ${titles}" th:text="${title.name}"
                                    th:value="${title.id}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="app-checkbox">
                            <label>
                                <input type="checkbox" name="rider" th:field="*{rider}"> Велосипедисты
                                <span></span>
                            </label>
                        </div>
                        <div class="app-checkbox">
                            <label>
                                <input type="checkbox" name="technical" th:field="*{technical}"> Техника
                                <span></span>
                            </label>
                        </div>
                        <div class="app-checkbox">
                            <label>
                                <input type="checkbox" name="commissaire" th:field="*{commissaire}"> Комиссар
                                <span></span>
                            </label>
                        </div>
                        <div class="app-checkbox">
                            <label>
                                <input name="federation" type="checkbox" th:field="*{federation}"> Федерация
                                <span></span>
                            </label>
                        </div>
                        <div class="app-checkbox">
                            <label>
                                <input name="team_member" type="checkbox" th:field="*{teamMember}"> Члены команды
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="app-checkbox">
                            <label>
                                <input name="other" type="checkbox" th:field="*{other}"> Другое
                                <span></span>
                            </label>
                        </div>
                        <div class="app-checkbox">
                            <label>
                                <input name="road" type="checkbox" th:field="*{road}"> Путь
                                <span></span>
                            </label>
                        </div>
                        <div class="app-checkbox">
                            <label>
                                <input name="track" type="checkbox" th:field="*{track}"> Дорожка
                                <span></span>
                            </label>
                        </div>
                        <div class="app-checkbox">
                            <label>
                                <input name="mb" type="checkbox" th:field="*{mb}"> Маунтинбайк
                                <span></span>
                            </label>
                        </div>
                        <div class="app-checkbox">
                            <label>
                                <input name="bmx" type="checkbox" th:field="*{bmx}"> bmx
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-filter" aria-hidden="true"></i> Найти
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>