<div th:classappend="over-x-auto" xmlns:th="http://www.thymeleaf.org">
    <table class="table table-striped" th:classappend="table__refact">
        <thead>
        <tr th:class="ws-no">
            <th th:class="w50">Id</th>
            <th>Номер Федерации</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Пол</th>
            <th>Дата рождения</th>
            <th>Адрес №1</th>
            <th>Адрес №2</th>
            <th>zip</th>
            <th>Город</th>
            <th>Страна</th>
            <th>Тел. домашний</th>
            <th>Тел. сотовый</th>
            <th>E-mail</th>
            <th>Велосипедист</th>
            <th>Комиссар</th>
            <th>Классификатор</th>
            <th>Технический делегат</th>
            <th>Федерация</th>
            <th>Участник команды</th>
            <th>Другая роль</th>
            <th>Старый Id</th>
            <th>Фамилия (Rus)</th>
            <th>Имя (Rus)</th>
            <th>Отчество (Rus)</th>
            <th>Группа</th>
            <th>Федеральный субъект</th>
            <th>Команда</th>
            <th>Путь</th>
            <th>Дорожка</th>
            <th>mb</th>
            <th>bmx</th>
            <th>Заголовок</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${people}">
            <td th:text="${person.id}" th:class="w50"></td>
            <td th:text="${person.federationNum}"></td>
            <td th:text="${person.lastname}"></td>
            <td th:text="${person.firstname}"></td>
            <td>
                <span th:if="${person.gender}">Муж.</span>
                <span th:if="${!person.gender}">Жен.</span>
            </td>
            <td th:text="${person.birthdate}"></td>
            <td th:text="${person.address1}"></td>
            <td th:text="${person.address2}"></td>
            <td th:text="${person.zip}"></td>
            <td th:text="${person.town}"></td>
            <td th:text="${person.country}"></td>
            <td th:text="${person.phone}"></td>
            <td th:text="${person.mobile}"></td>
            <td th:text="${person.email}"></td>
            <td>
                <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.rider}"></i>
                <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.rider}"></i>
            </td>
            <td>
                <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.commissaire}"></i>
                <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.commissaire}"></i>
            </td>
            <td>
                <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.classifier}"></i>
                <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.classifier}"></i>
            </td>
            <td>
                <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.techincalDelegate}"></i>
                <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.techincalDelegate}"></i>
            </td>
            <td>
                <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.federation}"></i>
                <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.federation}"></i>
            </td>
            <td>
                <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.teamMember}"></i>
                <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.teamMember}"></i>
            </td>
            <td>
                <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.otherRole}"></i>
                <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.otherRole}"></i>
            </td>
            <td th:text="${person.oldId}"></td>
            <td th:text="${person.lastnameRus}"></td>
            <td th:text="${person.firstnameRus}"></td>
            <td th:text="${person.patronymicRus}"></td>
            <td th:text="${person.group}"></td>
            <td th:text="${person.federalSubject}"></td>
            <td th:text="${person.team}"></td>
            <td>
                <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.road}"></i>
                <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.road}"></i>
            </td>
            <td>
                <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.track}"></i>
                <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.track}"></i>
            </td>
            <td>
                <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.mb}"></i>
                <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.mb}"></i>
            </td>
            <td>
                <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.bmx}"></i>
                <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.bmx}"></i>
            </td>
            <td th:text="${person.title}"></td>
        </tr>
        <tr th:if="${#lists.isEmpty(people)}">
            <td colspan="33">Список пуст</td>
        </tr>
        </tbody>
    </table>
</div>