<div xmlns:th="http://www.thymeleaf.org">
    <p>На страницу <span th:text="${people.getSize()}"></span> записей,
        всего <span th:text="${people.getTotalElements()}"></span>
    </p>
    <div class="over-x-auto">
        <table class="table table-striped table__refact mbn">
            <thead>
                <tr th:class="ws-no">
                    <th th:class="w50">UCI</th>
                    <th>№ фед.</th>
                    <th data-type="string">Фамилия (Rus)</th>
                    <th>Имя (Rus)</th>
                    <th>Отчество (Rus)</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th data-type="number">Д/Р <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></th>
                    <th>Пол</th>
                    <th>Субъект РФ</th>
                    <th>Команда</th>
                    <th class="text-center">Велосипедист</th>
                    <th class="text-center">Комиссар</th>
                    <th class="text-center">Классификатор</th>
                    <th class="text-center">Технический делегат</th>
                    <th class="text-center">Федерация</th>
                    <th class="text-center">Участник команды</th>
                    <th class="text-center">Другая роль</th>
                    <th>Группа</th>
                    <th class="text-center">Трек</th>
                    <th class="text-center">Шоссе</th>
                    <th class="text-center">Маунтибайк</th>
                    <th class="text-center">BMX</th>
                    <th>Адрес №1</th>
                    <th>Адрес №2</th>
                    <th>Индекс</th>
                    <th>Город</th>
                    <th>Страна</th>
                    <th>Тел. домашний</th>
                    <th>Тел. сотовый</th>
                    <th>E-mail</th>
                    <th>Звание</th>
                </tr>
            </thead>
            <tbody>

                <!--<tr>-->
                    <!--<td class="w50">1</td>-->
                    <!--<td>federationNum</td>-->
                    <!--<td>Иванов</td>-->
                    <!--<td>firstnameRus</td>-->
                    <!--<td>patronymicRus</td>-->
                    <!--<td>lastname</td>-->
                    <!--<td>firstname</td>-->
                    <!--<td>20.01.90</td>-->
                    <!--<td>-->
                        <!--<span>Жен.</span>-->
                    <!--</td>-->
                    <!--<td>federalSubject</td>-->
                    <!--<td>team</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td>group</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td>address1</td>-->
                    <!--<td>address2</td>-->
                    <!--<td>zip</td>-->
                    <!--<td>town</td>-->
                    <!--<td>country</td>-->
                    <!--<td>phone</td>-->
                    <!--<td>mobile</td>-->
                    <!--<td>email</td>-->
                    <!--<td>title</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="w50">1</td>-->
                    <!--<td>federationNum</td>-->
                    <!--<td>Петров</td>-->
                    <!--<td>firstnameRus</td>-->
                    <!--<td>patronymicRus</td>-->
                    <!--<td>lastname</td>-->
                    <!--<td>firstname</td>-->
                    <!--<td>17.11.95</td>-->
                    <!--<td>-->
                        <!--<span>Жен.</span>-->
                    <!--</td>-->
                    <!--<td>federalSubject</td>-->
                    <!--<td>team</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td>group</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td>address1</td>-->
                    <!--<td>address2</td>-->
                    <!--<td>zip</td>-->
                    <!--<td>town</td>-->
                    <!--<td>country</td>-->
                    <!--<td>phone</td>-->
                    <!--<td>mobile</td>-->
                    <!--<td>email</td>-->
                    <!--<td>title</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="w50">1</td>-->
                    <!--<td>federationNum</td>-->
                    <!--<td>Сидоров</td>-->
                    <!--<td>firstnameRus</td>-->
                    <!--<td>patronymicRus</td>-->
                    <!--<td>lastname</td>-->
                    <!--<td>firstname</td>-->
                    <!--<td>10.04.77</td>-->
                    <!--<td>-->
                        <!--<span>Жен.</span>-->
                    <!--</td>-->
                    <!--<td>federalSubject</td>-->
                    <!--<td>team</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td>group</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-check text-success" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<i class="fa fa-times text-primary" aria-hidden="true"></i>-->
                    <!--</td>-->
                    <!--<td>address1</td>-->
                    <!--<td>address2</td>-->
                    <!--<td>zip</td>-->
                    <!--<td>town</td>-->
                    <!--<td>country</td>-->
                    <!--<td>phone</td>-->
                    <!--<td>mobile</td>-->
                    <!--<td>email</td>-->
                    <!--<td>title</td>-->
                <!--</tr>-->


            <tr th:each="person : ${people}">
                <td th:text="${person.id}" th:class="w50"></td>
                <td th:text="${person.federationNum}"></td>
                <td th:text="${person.lastnameRus}"></td>
                <td th:text="${person.firstnameRus}"></td>
                <td th:text="${person.patronymicRus}"></td>
                <td th:text="${person.lastname}"></td>
                <td th:text="${person.firstname}"></td>
                <td th:text="${person.birthdate}"></td>
                <td>
                    <span th:if="${person.gender}">Муж.</span>
                    <span th:if="${!person.gender}">Жен.</span>
                </td>
                <td th:text="${person.federalSubject?.name}"></td>
                <td th:text="${person.team?.name}"></td>
                <td class="text-center">
                    <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.rider}"></i>
                    <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.rider}"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.commissaire}"></i>
                    <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.commissaire}"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.classifier}"></i>
                    <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.classifier}"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.techincalDelegate}"></i>
                    <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.techincalDelegate}"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.federation}"></i>
                    <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.federation}"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.teamMember}"></i>
                    <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.teamMember}"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.otherRole}"></i>
                    <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.otherRole}"></i>
                </td>
                <td th:text="${person.group?.name}"></td>
                <td class="text-center">
                    <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.road}"></i>
                    <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.road}"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.track}"></i>
                    <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.track}"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.mb}"></i>
                    <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.mb}"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-check text-success" aria-hidden="true" th:if="${person.bmx}"></i>
                    <i class="fa fa-times text-primary" aria-hidden="true" th:if="${!person.bmx}"></i>
                </td>

                <td th:text="${person.address1}"></td>
                <td th:text="${person.address2}"></td>
                <td th:text="${person.zip}"></td>
                <td th:text="${person.town}"></td>
                <td th:text="${person.country}"></td>
                <td th:text="${person.phone}"></td>
                <td th:text="${person.mobile}"></td>
                <td th:text="${person.email}"></td>
                <td th:text="${person.title}"></td>
            </tr>
            <tr th:if="${#lists.isEmpty(people.content)}">
                <td colspan="33" style="text-align:left">Список пуст</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p class="mt10">На страницу <span th:text="${people.getSize()}"></span> записей,
        всего <span th:text="${people.getTotalElements()}"></span>
    </p>
</div>