<div class="search__people" xmlns:th="http://www.thymeleaf.org" th:fragment="filter (filterForm)">
    <a href="#search__block" class="btn btn-info btn-toggle">
        <i class="fa fa-search" aria-hidden="true"></i> Поиск
    </a>
    <a href="#filter__block" class="btn btn-info btn-toggle">
        <i class="fa fa-filter" aria-hidden="true"></i> Фильтр
    </a>

    <div class="search__container">
        <form th:object="${filter}" method="get" class="form-horizontal" role="form">
            <div  th:replace="~{fragments/people-search-block}"></div>
            <div  th:replace="~{fragments/people-filter-block}"></div>
        </form>
    </div>
</div>