<!-- Page Profile -->
<div class="admin-panels">
    <div class="row">
        <!-- Three Pane Widget-->
        <div class="col-md-12 admin-grid">
            <!-- dashboard activity-->
            <div data-panel-title="false" class="panel sort-disable">
                <div class="panel-heading">
                    <span class="panel-title">Профиль</span>
                </div>
                <div class="panel-body pn">
                    <p>Контент</p>
                </div>
            </div>
        </div>
    </div>
</div>