<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/general}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task List</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <!-- Three Pane Widget-->
        <div class="col-md-12 admin-grid">
            <!-- dashboard activity-->
            <div data-panel-title="false" class="panel sort-disable">
                <div class="panel-body pn">
                    <div class="calendar">Тут будет мега календарь</div>
                    <dl>
                        <dt>Название:</dt>
                            <dd th:text="${competition.name}" class="text__calendar"></dd>
                        <dt>Место:</dt>
                            <dd th:text="${competition.place}"></dd>
                        <dt>Дата начала:</dt>
                            <dd th:text="${#temporals.format(competition.dateBegin, 'dd.MM.yyyy')}" class="dateBegin"></dd>
                        <dt th:if="${!#strings.isEmpty(competition.dateEnd)}">Дата окончания:</dt>
                            <dd th:if="${!#strings.isEmpty(competition.dateEnd)}"
                                th:text="${#temporals.format(competition.dateEnd, 'dd.MM.yyyy')}" class="dateEnd"></dd>
                        <dt>Страна:</dt>
                            <dd th:text="${competition.country?.nameRus}"></dd>
                        <dt>Вид:</dt>
                            <dd th:text="${competition.vid?.name}"></dd>
                        <dt>Субъект:</dt>
                            <dd th:text="${competition.subject?.name}"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>