<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/general}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task List</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <!-- Three Pane Widget-->
        <div class="col-md-12 admin-grid">
            <!-- dashboard activity-->
            <div data-panel-title="false" class="panel sort-disable">
                <div class="panel-heading">
                    <span class="panel-title">Справочники</span>
                </div>
                <div class="panel-body pn">




                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tabs-1" data-toggle="tab" aria-expanded="true">Названия</a>
                        </li>
                        <li>
                            <a href="#tabs-2" data-toggle="tab" aria-expanded="false">Команды</a>
                        </li>
                        <li>
                            <a href="#tabs-3" data-toggle="tab" aria-expanded="false">Группы</a>
                        </li>
                        <li>
                            <a href="#tabs-4" data-toggle="tab" aria-expanded="false">Федеральные округи</a>
                        </li>
                        <li>
                            <a href="#tabs-5" data-toggle="tab" aria-expanded="false">Федеральные субъекты</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1">
                            <table th:replace="~{fragments/dictionary-table :: table (dicts = ${titles})}"></table>
                        </div>
                        <div class="tab-pane" id="tabs-2">
                            <table th:replace="~{fragments/dictionary-table :: table (dicts = ${teams})}"></table>
                        </div>
                        <div class="tab-pane" id="tabs-3">
                            <table th:replace="~{fragments/dictionary-table :: table (dicts = ${groups})}"></table>
                        </div>
                        <div class="tab-pane" id="tabs-4">
                            <table th:replace="~{fragments/dictionary-table :: table (dicts = ${federalDistricts})}"></table>
                        </div>
                        <div class="tab-pane" id="tabs-5">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Название</th>
                                    <th>Федеральный округ</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="federalSubject : ${federalSubjects}">
                                    <td th:text="${federalSubject.id}"></td>
                                    <td th:text="${federalSubject.name}"></td>
                                    <td th:text="${federalSubject.federalDistrict?.name}"></td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(federalSubjects)}">
                                    <td colspan="3">Список пуст</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>