<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{fragments/head}"></head>

    <body class="dashboard-page">

    <!-- Start: Main-->
    <div id="main">

        <!-- Fragment Sidebar-->
        <aside th:replace="~{fragments/aside}"></aside>

        <!-- Start: Content-Wrapper-->
        <section id="content_wrapper">

            <!-- Fragment Header -->
            <header th:replace="~{fragments/header}"></header>

            <!-- Begin: Content-->
            <section id="content" class="table-layout animated fadeIn">
                <div class="tray tray-center">

                    <!-- Content -->
                    <!-- TODO: сделать динамический контент -->
                    <div th:replace="~{pages/dashboard}"></div>

                </div>
            </section>

            <!-- Fragment Footer-->
            <footer th:replace="~{fragments/footer}"></footer>

        </section>
    </div>

    </body>

</html>